body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    background-color: #FFFFFF;

}

a {
    text-decoration: none;
    list-style-type: none;
}

ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
}
/*Header*/

.header {
    background: #FFF;
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 1px 6px rgba(46, 47, 66, 0.08);
}



.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation {
    display: flex;
    align-items: center;
}

.logo-header {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif ;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    margin-right: 76px;
}


.logo-header-part {
    color: #2E2F42;
}

.header-items {
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

.nav-link {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
    color: #404BBF;
    text-decoration: underline;
}
.active {
    position: relative;
    color: #404BBF;
}
.active::after {
    content: "";
    position: absolute;
left: 0;
bottom: -1px;
display: block;
width: 100%;
height: 4px;
border-radius: 2px;
background-color: #404BBF;
}
.address {
    font-style: normal;
    display: block;
}

.address-link {
    color: #434455;
    line-height: 24px;
    letter-spacing: 0.32px;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-link:hover,
.mail-link:focus {
    color: #404BBF;
}

.tel-link:hover,
.tel-link:focus {
    color: #404BBF;

}
.address-link:hover, 
.address-link:focus {
    color: #404bbf;
}

/* Subject Section */

.section-one {
    background: #2E2F42;
    padding: 188px 0;
}
.hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.70),
            rgba(46, 47, 66, 0.70)), url("../images/hero/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.slogan {
    color: #FFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    width: 100%;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
}

.button-style {
    color: #FFF;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    background-color: #4D5AE5;
    cursor: pointer;
    display: block;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color: #4D5AE5;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-style:hover,
.button-style:focus {
   background-color: #404BBF;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Features Section */
 
.slogan-descr {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}
.section-two {
    padding: 120px 0;
}
.section-two-items {
    display: flex;
    gap: 24px;
}
.section-two-items-descr {
    width: calc((100% - 72px) / 4);
}
.section-two-icon  {
    width: 264px;
    height: 112px;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    background-color: #F4F4FD;
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
    align-items: center;
}
.employee {
    padding: 32px 0;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.social-links-item {
    width: 40px;
    height: 40px;
}
.social-links-link {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-links-link:hover, 
.social-links-link:focus {
    background-color: #404bbf;
}
.section-three-items {
    display: flex;
    gap: 24px;
}
.social-link {
    fill: #F4F4FD;
}
.features-subtitle {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
    text-align: center;
}

.features-descr {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    text-align: center;
}

.section-three {
    background-color: #F4F4FD;
    padding: 120px 0;
}
.app {
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
}
.card-info {
    background-color: #FFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    border-radius: 0px 0px 4px 4px;
    background: #FFF;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);}

.section-four {
    padding-top: 120px;
    padding-bottom: 120px;
}
.section-four-items {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.card-info-section-four {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.features-descr-two {
    color: #F4F4FD;
    line-height: 24px;
    letter-spacing: 0.32px;
    max-width: 264px;
}


.overlay {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    padding: 40px 32px;
    background-color: #4D5AE5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: auto;
}
.card-info-section-four:hover .overlay {
    transform: translateY(0%);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    

}
.card-info-section-four:hover  {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.section-four-over {
position: relative;
overflow: hidden;
}

.footer {
    background-color: #2E2F42;
    padding: 100px 0;
}
.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
.footer-container {
    display: flex;
    align-items: baseline;
}

.logo-footer-container {
    margin-right: 120px;
}
.logo-footer {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}

.logo-footer-part {
    color: #F4F4FD;
}
.footer-title {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}
.social-links-container {
    display: flex;
    justify-content: space-evenly;
    gap: 16px;

}
.social-links-footer-item {
    width: 40px;
    height: 40px;
}
.social-links-footer-link {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-links-footer-link:hover, 
.social-links-footer-link:focus {
    background-color: #31d0aa;
}